<div class="container my-3">
<h1>Bid Opportunities</h1>
<%= form_with(model: @entry) do |form| %>

<div class="my-3">
  <%= form.label :title, {class: "form-label"} %>
  <%= form.text_field :title, {class: "form-control"}%>
</div>

<div class="my-3">
  <%= form.label :link %>
  <%= form.text_field :link, {class: "form-control"} %>
</div>
<div class="my-3">
<%= form.label :budget %>
<%= form.text_field :budget, {class: "form-control"} %>
</div>
<div class="my-3">
<%= form.label :deadline %>
<%= form.datetime_field :deadline, {class: "form-control"} %>
</div>

<div class="my-3">
  <%= form.label :status, {class: "form-label"} %>
  <%= form.select :status, @status_list, {class: "form-control"}%>
</div>

<div>
  <%= form.submit "Update Bid", {class: "btn btn-success my-3"} %>
</div>

<div>
<%= link_to "Back to home", root_path %>
</div>
</div>
</div>

<% end %>